@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@300;400;500&display=swap");

@layer components {
  .SkillsBox {
    @apply rounded-lg flex gap-2 justify-start items-start p-6 md:p-12 shadow-lg hover:shadow-xl duration-300;
  }

  .LayoutContainer {
    @apply w-full max-w-[1400px] m-auto;
  }

  .DefaultText {
    @apply text-[#fff] text-xl font-Roboto tracking-widest;
  }

  .MainTitle {
    @apply text-2xl md:text-3xl font-Poppins;
  }

  .ClipPath1 {
    /* clip-path: polygon(50% 90%, 100% 80%, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(30% 90%, 70% 90%, 100% 80%, 100% 100%, 0 100%, 0 80%); */
    clip-path: polygon(0 80%, 100% 90%, 100% 100%, 0% 100%);
  }
}
